* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bg{
    background-image: url("images/background.jpg");
    background-size: 100% 100%;
    background-repeat: repeat-y;
    height:100vh;

}

.head{
    font-size: 40px;
    text-align: center;
    color: #0e2c25;
    font-weight:bold;
}

.profile-image {
 float: right; 
 right: 10px; 
 width: 250px;
 position: relative;
 top:10px;
 }

h1, h2, h3, h4, h5, h6{
    color: #0e2c25;
    background-color: #299a34;
}

.multi-column{
    columns: 2;
}
 
li:hover {
    font-weight: bold;
    color: #516516;
    background-color: #0e2c25;
    font-size: 1rem;
}

.input-field {
    font-size: 1rem;
    border: 6px solid #0e2c25;
    padding: 1rem;
    background-color: #29958a;
}

.input-field:focus {
    border: 10px groove;
}



.last {
   text-align: center;
}

.contact{
    font-size: medium;
    color:#0e2c25;

}

.row {  
    display: flex;  
    justify-content: space-between;  
    margin-bottom: 20px;  
}  
.column {  
    width: 33%;  
    padding: 10px;  
}  
.column img {  
    width: 100%;
    height: 350px;
    object-fit: cover;
}  
.column .description {  
    text-align: center;  
}  

.detailcontent{
    columns: 2;
}

.runimage{
    right: 10px; 
 width: 250px;
 position: relative;
 top:10px;
}